<div class="nav-content navigation w-nav">
    <div class="nav-content-wrapper">
        <div class="logo-border-right">
            <a href="{{site.baseurl}}/index.html" class="nav-logo w-nav-brand"><img loading="lazy" src="/logos/jm-nav-logo.svg" alt=""></a>
        </div>
        <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu w-list-unstyled">
                <li class="list-item-2"><a href="{{site.baseurl}}/work.html" class="nav-link">work</a></li>
                <li><a href="{{site.baseurl}}/about.html" class="nav-link">about</a></li>
                <li class="list-item"><a href="#" class="nav-link">resume</a></li>
                <li class="nav-contact"><a href="#" class="button-primary w-button">contact</a></li>
            </ul>
        </nav>
        <div class="menu-border-left">
            <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
                <div class="icon w-icon-nav-menu">

                </div>
            </div>
        </div>
    </div>
</div>